<script lang="ts" setup>
import { useWebSocket } from "@vueuse/core";
const wsURL = import.meta.env.VITE_WSS_URL;
const userName = ref("");
const wsURLwithUserName = computed(() => {
  return `${wsURL}?name=${userName.value}`;
});

const { status, data, send, open, close } = useWebSocket(wsURLwithUserName, {
  immediate: false,
});
const messages = ref<string[] | null>(null);
const inputMessage = ref("");

watch(data, (data) => {
  if (messages.value === null) {
    messages.value = [unref(data)];
  } else {
    messages.value.push(unref(data));
  }
});
function handleSendMessage() {
  const data = {
    action: "sendmessage",
    msg: inputMessage.value,
  };
  const dataString = JSON.stringify(data);
  const response = send(dataString);
  if (response) {
    console.info("Message sent");
    if (messages.value === null) {
      messages.value = [data.msg];
    } else {
      messages.value.push(data.msg);
    }
  } else {
    console.info("Message not sent");
  }
}
</script>
<template>
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold">WS Test</h1>
    <pre class="mt-10">
      <code class="font-bold">Debug</code>
      <code>URL: {{ wsURL }}</code>
      <code>Status: {{ status }}</code>
      <code>Data: {{ data }}</code>
    </pre>
    <div class="flex gap-3 mt-10">
      <input
        v-model="userName"
        placeholder="type your username"
        class="border rounded-lg p-2 dark:( bg-gray-800 )"
        type="text"
      />
      <BaseButton @click="open()">Open</BaseButton>
      <BaseButton @click="close()">Close</BaseButton>
    </div>
    <div class="p-5 rounded-xl border max-w-3xl mt-10">
      <div class="grid grid-cols-1 gap-3">
        <div
          v-for="(message, index) in messages"
          :key="`${index}-message`"
          class="p-3 rounded-xl bg-gray-200 dark:( bg-gray-800 )"
        >
          {{ message }}
        </div>
      </div>
      <div class="flex gap-3 mt-4">
        <input
          v-model="inputMessage"
          placeholder="type a message"
          class="border rounded-lg p-2 dark:( bg-gray-800 )"
          type="text"
        />
        <BaseButton @click="handleSendMessage()">Send Message</BaseButton>
      </div>
    </div>
  </div>
</template>
